body {
    background: tomato;
    margin: 0;
}
.clock {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-face {
    border: 10px solid white;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
}

.hand {
    border-radius: 15px;
    background: wheat;
    height: 8px;
    width: 49%;
    position: absolute;
    top: 50%;
    transform: rotate(90deg) scaleX(1);
    transform-origin: right;
    transition: all 0.05s cubic-bezier(0, 2.74, 0.58, 1);
}

.sec-hand {
    height: 5px;
    color: black;
}

